@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@300;400;700;800 & display=swap');

@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}
*{
    margin: 0;    /*establece el margen (espacio fuera del borde) de todos los elementos en 0.*/
    padding: 0;   /*establece el relleno (espacio dentro del borde) de todos los elementos en 0.*/
    box-sizing: border-box; /*especifica que el ancho y el alto de un elemento deben incluir el relleno y el borde, pero no el margen.*/
    text-decoration: none; /*elimina cualquier subrayado u otras decoraciones de texto en los elementos.*/
	/*CHEQUIAR TIPOGRAFIA CON EL EQUIPO*/
}

body{
    background: #ffffff; /*establece el color de fondo del elemento del cuerpo //CHEQUIAR FONDO CON EL EQUIPO*/
	
}

header{
    width: 100%;
    height: 90px;
    background-color:#146C94;
}
header.abajo{
	background: #fff;
	padding: 15px 20px;
}
.cabecera{
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}

/*CABECERA---establece el ancho máximo al 100 %, agrega un relleno de 10 píxeles a los lados izquierdo y derecho y centra el elemento horizontalmente configurando los márgenes izquierdo y derecho en automático.*/

.logo{
    float: left; /*se utiliza para colocar una imagen de logotipo a la izquierda*/
    padding: 5px 30px 0; /*paddingde 5px en la parte superior, 10pxa la derecha y 0en la parte inferior.*/
}
.logo img{
    height: 130px; /*tamañologo*/
}


.logo img:hover{
	transform: scale(1.1);
}

.navegacion{
	float: right;
	width: auto;
	margin: 30px auto;
	
}

.navegacion ul{
	list-style: none;
	padding: 0  10px;
}


.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #ffffff;
	font-family: 'Open sans';
	text-decoration: none;
	text-transform: uppercase; /*texto en mayuscula*/
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 145%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
	text-transform: uppercase; /*texto en mayuscula*/
	text-align: left;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.contenerdor img{
	max-width: 100%;
    padding: 0 10px;
    margin: auto;
	background: #146C94;
}

/* Adri a partir de aca coloca el css del contenedor del banner*/




/*  ===================
    About Us - Nosotros
    ===================
*/

@import url('https://fonts.googleapis.com/css?family=Poppins');

.about-us {
    height: 100vh;
    background-color: rgb(201, 199, 199);
    display: flex;
    flex-direction: column;
}

.container-us{
    width: 1000px;
    margin: auto;
    height: 600px;
    background-color: white;
    padding: 2rem 3rem;
    position: relative;
}

.text-block {
    width: 45%;
    font-family: 'Poppins';
}

.text-block .title {
    text-align: center;
    text-transform: uppercase;
    color: #777;
    margin-bottom: 1.5rem;
}

.text-block .sub-title {
    text-align: center;
    font-size: 1.2rem;
    color: #003ca3;
    margin-bottom: 1.3rem;
}

.text-block p {
    margin-bottom: 1.2rem;
    text-align: justify;
}

.btn-contacto {
    border: 1px solid #003ca3;
    color: #003ca3;
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-contacto:hover {
    color: white;
    background-color: #003ca3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.about-us img {
    position: absolute;
    top: 16%;
    right: -15%;
    box-shadow: 5px 4px 10px rgba(37,37,37,0.5);
    height: 400px;
    width: 600px;
    object-fit: cover;
    filter: contrast(150%);
}

/*  ****** FIN: ABOUT US ****** */

/* RESPONSIVE: About Us*/

@media only screen and (max-width: 768px)
{
    .container-us{
        width: 90%;
    }
    .container-us .text-block{
        width: 100%;
    }
    .container-us img{
        display: none;
    }
}

/* FIN Responsive - About Us */


/*  ===================
    SERVICIOS - Tarjetas
    ===================
*/
.section-servicios {
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Poppins';
}

.titulo-servicios {
    text-align: center;
    margin: auto;
    padding-top: 25px;
    display: block;
}

.fila{
    padding: 25px;
    justify-items: center;
}

.columna{
    padding: 10px;
    text-align: center;
    text-justify: distribute;
}

.tarjeta {
    background: linear-gradient(white 50%, #003ca3 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    padding: 20px;
    line-height: 1.75;
    letter-spacing: 0.03em;
}

.rounded-wrapper {
    background-color: #003ca3;
    position: relative;
    margin: auto;
    font-size: 1.5em;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    color: white;
}

.icon {
    color: white;
    vertical-align: -0.125rem;
    text-align: center;
}

.card-title {
    font-size: 1.5em;
    font-weight: 500;
    color: #003ca3;
    padding-top: 30px;
}

.card-text {
    color: black;
    font-size: 1em;
    line-height: 1.75;
    letter-spacing: 0.03em;
    padding-top: 30px;
}

.card-link {
    color: #003ca3;
    display: block;
    text-align: end;
}

.tarjeta:hover{
    background-position: 0 100%;
}

.tarjeta:hover .rounded-wrapper {
    background-color: white;
    color: #003ca3;
}

.tarjeta:hover h3 {
    color: white;
}

.tarjeta:hover p {
    color: white;
}

.tarjeta:hover i {
    color: #003ca3;
}

.tarjeta:hover a {
    color: white;
}

/* FIN Tarjetas Servicios */


/*  ===========================
    Video - Con CONTADOR EN JS
    ===========================
*/

.section-video {
    position: relative;
    width: 100%;
    padding: 130px 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Poppins';
}

video{
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.full-image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-image .to-bottom {
    object-position: bottom;
}

.grayscale {
    filter: grayscale(100%);
}

.container-section-number {
    position: relative;
    color: white;
    text-shadow: 0 0 5px black;
    margin: auto;
    justify-content: center;
}

.pre-title {
    width: fit-content;
    margin: auto;
    padding-bottom: 15px;
    display: block;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(238, 86, 30);
    margin: auto;
    text-align: center;
}

.titulo-numeros {
    font-size: 2rem;
    padding: 15px;
    margin: auto;
    text-align: center;
    font-weight: 200;
}

.resaltador{
    background-color: rgb(238, 86, 30);
}

.counter-bubble {
    position: relative;
    width: 110px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    height: 70px;
    vertical-align: middle;
    margin: 15px;
}

.number {
    font-size: 3rem;
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    color: white;
    padding-bottom: 20px;
}

.row h4{
    color: rgb(238, 86, 30);
}

/* FIN Seccion de CSS del "CONTADOR" JS */
